
.barplot {
  display:inline-block;
  width:30%;
  height:200px
}


/*------------ filter selectors -----------*/

.filterselector {
  padding-top:10px;
}

.filterbutton {
  display:block;
  width:100%;
  text-align:left;
}

.filtertext {
  text-align:center;
}

.filter-dropdown {
  padding:10px;
  left:100%;
  top:10px
}

/*----------- filter indicators -----------*/

.filterindicator {
  border-radius:10px;
  color:white;
  margin:2px;
  white-space:normal !important;
  word-wrap: break-word; 
  padding: 0px;
  padding-left: 5px;
  text-align: left;
}

.filterindicator.study {
  background:#006D2C;
}

.filterindicator.participant {
  background:#54278F;
}

.filterindicator.sample {
  background:#08519C;
}

.filterdeletor {
  background: #e57282;
  color:white;
  padding-left:5px;
  padding-right:5px;
  float:right;
  margin:0;
  height:100%;
  border-radius:10px;
}

.filterdeletor:hover {
  font-weight:bold;
  text-decoration:none;
  color:white;
}
/* ---------- study cards -----------*/
.card-text {
  font-size:0.9em;
  margin: 0 15px 0 15px;
}