
.barplot {
  display:inline-block;
  width:30%;
  height:200px
}


/*------------ filter selectors -----------*/

.filterselector {
  padding-top:10px;
}

.filterbutton {
  display:block;
  width:100%;
  text-align:left;
}

.filtertext {
  text-align:center;
}

.filter-dropdown {
  padding:10px;
  left:100%;
  top:10px
}

/*----------- filter indicators -----------*/

.filterindicator {
  display:inline-block;
  border-radius:10px;
  color:white;
  padding-right:8px;
  padding-left:8px;
  margin:2px;
}

.filterindicator.study {
  background:#006D2C;
}

.filterindicator.participant {
  background:#54278F;
}

.filterindicator.sample {
  background:#08519C;
}

.btn {
    white-space:normal !important;
    word-wrap: break-word; 
}