
.barplot {
  display:inline-block;
  width:30%;
  height:150px
}


/*------------ filter selectors -----------*/

.filterselector {
  padding-top:10px;
}

.filterbutton {
  display:block;
  width:100%;
  text-align:left;
}

.filtertext {
  text-align:center;
}

.filter-dropdown {
  padding:10px;
  left:100%;
  top:10px
}

/*----------- filter indicators -----------*/

.filter-indicator {
  width:100%;
  border-radius:10px;
  color:white;
  margin:2px;
  white-space:normal !important;
  word-wrap: break-word; 
  padding: 0;
  text-align: left;
}

.filter-indicator-text {
  width: 90%;
  float: left;
  padding-left:5px;
}

.filter-indicator-text.study {
  background:#54278F;
}

.filter-indicator-text.participant {
  background:#6BAED6;
}

.filter-indicator-text.sample {
  background:#238B45;
}

.filterdeletor {
  width:10%;
  float:right;
  background: #e57282;
  color:white;
  padding-top: 2px;
  padding-bottom: 2px;
  border: 0;
  padding-left:5px;
  padding-right:5px;
  float:right;
  margin:0;
  height:100%;
  border-radius:10px;
}

.filterdeletor:hover {
  font-weight:bold;
  text-decoration:none;
  color:white;
}
/* ---------- study cards -----------*/
.card-text {
  font-size:0.9em;
  margin: 0 15px 0 15px;
}

path.js-line:hover {
  stroke-width:2px;
}

